app-ball-selector {
  display: inline-block;
  width: 55%;
  box-sizing: border-box;
  margin: 10px;
}

app-bet-slip {
  display: inline-block;
  width: 40%;
  box-sizing: border-box;
  margin: 10px 10px 10px 0;
}
